<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>controller.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WordController</servlet-name>
        <servlet-class>controller.WordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DictionaryController</servlet-name>
        <servlet-class>controller.DictionaryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nagivator</servlet-name>
        <servlet-class>controller.Nagivator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>controller.TestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WordController</servlet-name>
        <url-pattern>/Word/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DictionaryController</servlet-name>
        <url-pattern>/Dictionary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nagivator</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/Test/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/Dictionary</welcome-file>
    </welcome-file-list>
</web-app>
